@model int

<div class="container pt-4">
    <div class="row">
        <div class="col-12 text-center">
            <h2 class="text-center">Thank you for your order!</h2>
            <h4 class="text-center">Your order number is: <strong>@Model</strong></h4>
            <img src="~/images/lawn_leaf.jpg" class="img-fluid" alt="Thank you" />
        </div>
        <div class="col-12 text-center" style="color:maroon">
            <br />
            Your order has been placed successfully!
        </div>
    </div>
</div>