@if (TempData["success"] != null)
{
    <div class="bg-primary d-flex justify-content-center align-items-center pt-2">
        <h5 class="text-light">@TempData["success"]</h5>
    </div>
}
@if (TempData["error"] != null)
{
    <div class="bg-primary d-flex justify-content-center align-items-center pt-2">
        <h5 class="text-light">@TempData["error"]</h5>
    </div>
}